@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital@0;1&display=swap');
@import url();
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
  --dark-blue: hsl(243, 87%, 12%);
  --desaturated-blue: hsl(238, 22%, 44%);
  --bright-blue: hsl(224, 93%, 58%);
  --cyan: hsl(170, 45%, 43%);
  --light-gray-blue: hsl(240, 75%, 98%);
  --light-gray: hsl(0, 0%, 75%);
}

body {
 font-family: 'Open Sans', sans-serif;
}

h1,h2,h3,h4 {
    font-family: 'Raleway', sans-serif;
}

.container {
    margin: 0 5rem;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Header Start*/
#navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 4rem;
}

#navbar ul {
    display: flex;
}

#navbar ul li a {
    margin: 0 30px;
    color: var(--dark-blue);
    font-family: 'Raleway', sans-serif; 
}

#home .row, 
#team .row,
#sign-in .row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5rem;
    padding: 8rem 0;
}

#home .row .column h1 {
    font-size: 40px;
    line-height: 1.4;
}

#home .row .column p {
    margin: 30px 0;
}

#home .row .column input {
    padding: 10px 15px;
    margin-right: 15px;
    width: 300px;
}
#home .row .column .button {
    padding: 10px 15px;
    background-color: var(--bright-blue);
    color: #fff;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    width: 150px;
}
#home .row img, 
#team .row img {
    max-width: 100%;
}
/* Header End*/

/* Team Start */
#team {
    background: url('./images/bg-curve-desktop.svg') no-repeat center center/cover;
}

#team .row h2 {
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 2rem;
}

#team .row .column > p {
    color: var(--desaturated-blue);
    margin: 20px 0;
    padding-right: 5rem;
    padding-bottom: 10px;
}

#team .row .column a {
    color: var(--cyan);
    border-bottom: 2px solid var(--cyan);
}

#team .row .column .box {
    background-color: #fff;
    margin-top: 3rem;
    padding: 30px;
    border-radius: 10px;
    width: 350px;
    box-shadow: 1px 1px 5px rgb(0, 0, 0, 0.1 );
}

#team .row .column .box p {
    font-size: 12px;
    margin: 15px 0;
    line-height: 1.7;
}

#team .row .column .box .avatar {
    display: flex;
    align-items: center;
}

#team .row .column .box .avatar h3 {
   font-size: 12px;
   font-weight: 700;
}

#team .row .column .box .avatar p {
    font-size: 10px;
    margin: 0;
}

#team .row .column .box .avatar img {
    width: 40px;
    margin-right: 15px;
    border-radius: 50%;
}
/* Team End */

/* Sign-In Start */
#sign-in {
    background-color: var(--desaturated-blue);
}
#sign-in .row {
    padding: 6rem 0;
}

#sign-in .row .column-1 h2 {
    font-size: 32px;
    color: var(--light-gray-blue);
    margin-bottom: 25px;
}

#sign-in .row .column-1 p {
    color: var(--light-gray);
    margin-right: 7rem;
}

#sign-in .row .column-2 input {
    display: block;
    padding: 20px;
    width: 90%;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    box-shadow: 2px 2px 10px rgba (0, 0, 0, 0.15);
}

#sign-in .row .column-2 button {
    padding: 15px  20px;
    background-color: var(--bright-blue);
    border: none;
    color: #fff;
    width: 300px;
    box-shadow: 2px 2px 10px rgba (0, 0, 0, 0.15);
    cursor: pointer;
}
/* Sign-In End */

/* Footer Start */
#footer {
    background-color: var(--dark-blue);
    color: var(--light-gray);
    padding: 5rem 0;
}
#footer .row {
   display: grid;
   grid-template-columns: 2fr repeat(4, 1fr); 
}

#footer .logo-white {
    margin-bottom: 1rem;
}

#footer .row .column-1 .column-info {
    display: flex;
    align-items: center;
    margin: 15px 0;
}

#footer .row .column-1 .column-info img {
    margin-right: 1rem;
}
#footer .row li {
    margin-bottom: 15px;
} 

#footer .row a {
    color: var(--light-gray);
}

#footer .row .column-4 i {
    border: 1px solid var(--light-gray);
    border-radius: 50%;
    height: 35px;
    width: 35px;
    text-align: center;
    line-height: 2;
    margin: 0 10px ;
}

/* Footer End */
/* Tablet */
@media (max-width: 1000px) {
    #home .row,
    #team .row,
    #sign-in .row{
        grid-template-columns: 1fr;
    }

    #home .row, 
    #team .row {
        display: flex;
        flex-direction: column-reverse;
    }

    #home .row h1,
    #home .row p,
    #team .row .column > p,
    #team .row h2,
    #sign-in {
        text-align: center;
    }

    #home .row .column p {
    margin: 30px 0;
}
    #home .row .column input {
        width: 100%;
        margin-bottom: 10px;
    }

    #team {
        background: url('./images/bg-curve-mobile.svg') center center/cover no-repeat;
    }

    #team .row h2 {
        margin-top: 2rem;
        font-size: 28px;
    }
    #team .row .column > p {
        margin: 10px;
        padding-right: 0rem;
    }

    #team .row .column .box p {
        margin: 20px 0;
    }

    #team .link {
        text-align: center;
    }

    #team .row .column .box {
        margin: 2rem auto 0;
        width: 300px;
        padding: 20px;
    }

    #sign-in .row .column-1 p {
        margin-right: 0;
    }

    #sign-in .row .column-2 input {
        width: 100%;
        margin: 30px 0 15px;
    }

    #footer .row {
        grid-template-columns: 1fr; 
        row-gap: 2rem;
    }

    #footer .row .column-4 i {
        margin: auto;
    }
}

/* Mobile */

@media (max-width: 650px) {

    #navbar {
        padding-top: 2rem;
    }

    .logo {
        width: 80px;
    }

    .container {
        margin: 0 1rem;
    }

    #navbar ul li a {
        margin: 0 10px;
        font-size: 14px;
    }
    
    #home .row .column h1 {
        font-size: 28px;
        margin-top: 2rem;
    }

    #home .row .column input {
        padding: 15px 20px;
    }

    #home .row .column .button {
        padding: 15px 20px;
        width:100%;
    } 

    #sign-in .row .column-1 h2 {
        font-size: 28px;
    }

    #sign-in .row .column-2 button {
        width: 100%;
    }

    #footer .row .column-4 {
       text-align: center;
    }
    
}